{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>Paramétrez votre Gauntlet</h1>
    {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}
    {{ form_end(formulaire) }}
{% endblock %}
