{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="gauntlet-parameter-container">
        <h1>Paramétrez votre Gauntlet</h1>
        {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}
        <button type="submit" id="gauntlet_submit">Enregistrer</button>
        {{ form_end(formulaire) }}
    </div>
{% endblock %}
